body {
    background-color: lavender;
}

.container {
    color: steelblue;
    text-align: center;
}

h1 {
    text-align: center;
}

.input-box {
    padding: 1em;
}

.btn-primary {
    color: #fff;
    background-color: #2FA4E7;
    border-color: #2FA4E7;
}

.btn-danger {
    background-color: red;
    color: black;
}

table {
    border-spacing: 1;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
    position: relative;
}